<div class="card mt-4">

    <div class="card-body py-2">

        <div class="row text-center">

            <div class="col">

                <small class="text-secondary">
                    Host
                </small>

                <div id="hostname">
                    -
                </div>

            </div>

            <div class="col">

                <small class="text-secondary">
                    CPU
                </small>

                <div id="cpu">
                    -
                </div>

            </div>

            <div class="col">

                <small class="text-secondary">
                    RAM
                </small>

                <div id="ram">
                    -
                </div>

            </div>

            <div class="col">

                <small class="text-secondary">
                    SSD
                </small>

                <div id="disk">
                    -
                </div>

            </div>

        </div>

        <div class="d-grid mt-2">
            <button
                id="btn-shutdown"
                class="btn btn-outline-danger btn-sm"
                onclick="shutdownSystem()"
            >
                <i class="bi bi-power me-2"></i>
                Raspberry Pi herunterfahren
            </button>
        </div>

    </div>

</div>
