<header class="d-flex mb-4 container justify-content-between align-items-start">

  <div class="d-flex flex-column">

    <img
        src="/static/img/logo.png"
        alt="XRack"
        class="header-logo"
    >

    <small class="text-secondary">
        v{{ application.config.data.application.version }}
    </small>

  </div>

  <button
      id="btn-settings"
      class="btn btn-outline-secondary btn-sm"
      title="{{ t.settings_icon_title }}"
  >
      <i class="bi bi-gear"></i>
  </button>

</header>
